.balance {
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    min-width: 300px;

    h4 {
        font-size: 24px;
        margin: 0 0 10px 0;
    }

    span {
        font-size: 40px;
        font-weight: bold;
    }
}