.statistics {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;

  .header-container {
    margin: 30px;
  }

  input {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #e9f1fa;
    border: none;
    padding: 0;
  }

  label {
    font-size: 18px;
    display: flex;
    width: 100%;
    margin: 6px 6px;
    font-weight: bold;
  }

  .bar1 {
    display: flex;

    label {
      color: #004AFF;
    }
  }

  .bar2 {
    display: flex;

    label {
      color: #FFB500;
    }
  }

  .month-input {
    max-width: 30px;
  }

  .year-input {
    max-width: 60px;
    margin-inline-end: 20px;
  }

  .chart {
    margin: 20px;
    max-width: 320px;
  }

  a {
    margin-block-start: 100px;
  }
}
