.statistics {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;

  .header-container {
    margin: 30px;
  }

  input {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #e9f1fa;
    border: none;
    padding: 0;
  }

  label {
    font-size: 18px;
    display: flex;
    margin: 6px 6px;
    font-weight: bold;
  }

  .bar1 {
    display: flex;
    justify-content: center;

    label {
      color: #004AFF;
    }
  }

  .bar2 {
    display: flex;
    justify-content: center;


    label {
      color: #FFB500;
    }
  }

  .month-input {
    max-width: 30px;
  }

  .year-input {
    max-width: 60px;
    margin-inline-end: 20px;
  }

  .bar-chart-container {

    .bar-chart {
      margin: 10px;
      padding: 10px;
      max-width: 100%;
    }
  }

  .doughnut-chart-container {
    margin-block-start: 100px;
    display: flex;
    justify-content: center;

    .doughnut-chart {
      max-width: 600px;
      max-height: 600px;
    }
  }

  a {
    margin-block-start: 60px;
  }
}
