.statistics {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  padding: 4px;
  min-height: 100vh;

  .back-btn {
    align-self: flex-start;
  }

  .header-container,
  .bars,
  .chart {
    border: solid 2px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
  }

  .bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      font-family: "Lato", sans-serif;
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      background-color: #e9f1fa;
      padding: 0;
      border-radius: 4px;
    }

    label {
      font-size: 18px;
      font-weight: bold;
    }

    .year-input {
      max-width: 60px;
      margin-inline-end: 20px;
    }

    .month-input {
      max-width: 20px;
      border: 2px solid black;
    }

    .bar1-inputs {
      display: flex;
      justify-content: center;

      input {
        flex: 1;
        border: 2px solid #004aff;
        border: 2px solid $chart1-dark;
      }
    }
    .bar2-inputs {
      display: flex;
      justify-content: center;

      input {
        flex: 1;
        border: 2px solid #ffb500;
      }
    }
  }

  .bar-chart-container {
    border: 2px solid black;
    border-radius: 10px;

    .bar-chart {
      margin: 10px;
      padding: 10px;
      max-width: 100%;
    }
  }

  .doughnut-chart-container {
    margin-block-start: 100px;
    display: flex;
    justify-content: center;

    .doughnut-chart {
      max-width: 600px;
      max-height: 600px;
    }
  }
}
