.transaction-table {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;

  button {
    border: none;
  }

  .filter-btns-container {
    margin-block-end: 5px;

    button {
      font-size: 14px;
      border-radius: 4px;
      width: 70px;
      padding: 2px;
      margin-inline-end: 2px;
    }
  }

  .transaction-list {
    max-width: 320px;
    min-width: 320px;

    li {
      display: flex;
      border-radius: 10px;
      padding: 4px;
      align-items: center;
      justify-content: space-around;
      font-weight: bold;

      .transaction-ball {
        margin-inline-start: 20px;
        margin-inline-end: 20px;
        padding: 3px;

        .ball {
          min-width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }

      .transaction-title {
        flex: 1;
        min-width: 80px;
        font-weight: bold;
        padding: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .transaction-sum {
        flex: 1;
        min-width: 80px;
        font-weight: bold;
        padding: 3px;
      }

      .transaction-date {
        flex: 1;
        padding: 3px;
        // margin-inline-end: 20px;
      }

      &:nth-child(odd) {
        background-color: rgb(230, 230, 230, 0.6);
      }

      &:nth-child(even) {
        background-color: rgb(255, 255, 255, 0.6);
      }
    }
  }
}
