.transaction-table {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
  min-width: 300px;
  background-color: $background4;

  label {
    font-weight: bold;
  }

  button {
    background-color: #e9f1fa;
    border: none;
    border-bottom: 3px solid;
  }

  .category-container,
  .month-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .month-inner {
    display: flex;
    justify-content: center;
  }

  .month-filter {
    display: flex;
    justify-content: center;

    input {
      text-align: center;
      background-color: #e9f1fa;

      font-family: "Lato", sans-serif;
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      background-color: #e9f1fa;
      border: 2px solid black;
      border-radius: 4px;
      padding: 0;
    }
  }

  .filter-btns-container {
    button {
      font-size: 14px;
      border-radius: 4px;
      width: 70px;
      padding: 2px;
      border-radius: 0px;
      margin: 0;
      background-color: $background4;

      &:hover {
        border-color: $btns-hover;
      }
    }

    button.clicked {
      border-color: $btns;
    }
  }

  .transaction-list {
    overflow: auto;
    max-height: calc(100vh - 540px);

    li {
      display: flex;
      padding: 4px;
      align-items: center;
      justify-content: space-around;
      font-weight: bold;

      &:hover .remove-transaction-btn {
        opacity: 1;
      }

      .transaction-title {
        flex: 1;
        min-width: 80px;
        font-weight: bold;
        padding: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .transaction-sum {
        flex: 1;
        min-width: 80px;
        font-weight: bold;
        padding: 3px;
      }

      .transaction-date {
        flex: 1;
        padding: 3px;
      }

      &:nth-child(odd) {
        background-color: rgba(230, 230, 230, 0.6);
      }

      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.6);
      }

        .remove-transaction-btn {
          flex: 1;
          font-size: 20px;
          line-height: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 20px;
          max-width: 26px;
          max-height: 26px;
          background-color: $btns;
          border-radius: 4px;
          margin-inline-end: 10px;

          opacity: 0;
          transition: opacity 0.3s ease;

          &:hover {
            background-color: $btns-hover;
          }
        }
    }
  }
}

@media (hover: hover) {

  .transaction-table {
    .remove-transaction-btn {
      opacity: 1;
    }
  }
}