// :root {
//     --chart1-dark: rgb(153, 102, 255);
//     --chart1-light: rgba(153, 102, 255, 0.2);
//     --chart2-dark: rgb(255, 159, 64);
//     --chart2-light: rgba(255, 159, 64, 0.2);
// }


$chart1-dark: rgb(153, 102, 255);
$chart1-light: rgba(153, 102, 255, 0.2);
$chart2-dark: rgb(255, 159, 64);
$chart2-light: rgba(255, 159, 64, 0.2);
$background1: #e9f1fa;
$background2: #fff;
$background3: #00f7ff;

