$background1: #48adb1;
$background2: #00a1a7;
$background3: #e9f1fa;
$background3: rgb(197, 197, 197);
$background4: rgb(197, 197, 197);
$btns: #ffef62;
$btns-hover: #ddcc35;
$chart1-dark: rgb(153, 102, 255);
$chart1-light: rgba(153, 102, 255, 0.2);
$chart2-dark: rgb(255, 159, 64);
$chart2-light: rgba(255, 159, 64, 0.2);