.statistics {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  padding: 4px;
  min-height: 100vh;

  .header-container {
    h5 {
      font-size: 22px;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .header-container,
  .date-pickers,
  .bar-chart-container {
    background-color: #e9f1fa;
  }

  .back-btn {
    align-self: flex-start;
  }

  .header-container,
  .date-pickers,
  .chart {
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
  }

  .date-pickers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .date-picker-wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      min-width: 160px;
    }

    .monthly-sum-wrapper {
      flex: 1;
      max-width: 220px;
      display: flex;
      align-items: center;
      justify-content: center;

      h5 {
        font-size: 16px;
        padding: 4px;
        margin-block-end: 0;
      }
    }

    input {
      font-family: "Lato", sans-serif;
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      padding: 0;
      border-radius: 4px;

      border: none;
      box-sizing: border-box;
      outline: 0;
      position: relative;
    }

    .font-awesome-icon {
      font-size: 20px;
    }

    .date-picker1, .date-picker2 {
      flex: 1;
      display: flex;
      justify-content: center;
      max-width: 220px;
      padding: 0;

      input, svg {
        background-color: $chart1-light;
        border-radius: 0;
      }

      input {
        flex: 1;
      }
    }

    .date-picker1 {
      border: 2px solid $chart1-dark;

      input, svg {
        background-color: $chart1-light;
      }
    }

    .date-picker2 {
      border: 2px solid $chart2-dark;

      input, svg {
        background-color: $chart2-light;
      }
    }

    label {
      font-size: 18px;
      font-weight: bold;
    }

    .year-input {
      max-width: 60px;
      margin-inline-end: 20px;
    }
  }

  .bar-chart-container {
    border: 2px solid black;
    border-radius: 10px;

    .bar-chart {
      margin: 10px;
      padding: 10px;
      max-width: 100%;
    }
  }

  .doughnut-chart-container {
    margin-block-start: 100px;
    display: flex;
    justify-content: center;

    .doughnut-chart {
      max-width: 600px;
      max-height: 600px;
    }
  }
}
